.input{
    padding: 16px;
    margin: 10px;
    border-radius: 5px;
    background-color: hsl(204deg 14.29% 6.86%);
    width: 50%;
    border: solid 3px rgb(26, 27, 35);
    color: rgb(213, 228, 240);
    transition: border-color 0.3s ease;
    outline: none;
    font-size: medium;

}
::placeholder{
    color: rgb(108, 108, 116);
    font-size: medium;
}


.article{
    color: rgb(0, 10, 7);
}
input:focus{
    border-color: rgb(21, 21, 160);
}
.outer-article{
    margin-top: 20px;
    padding: auto;
    display: flex;
    justify-content: center;
}


p{
color: #fff;
height: auto;
border: solid 1px rgb(104, 101, 101);
width: 70vw;
letter-spacing: 3px;
}
.error{
    color: rgb(255, 0, 0);
    font-size: medium;
    margin-top: 30px;
    
}

